<h1>Fascicolo sanitario</h1>
<div class="container-fluid mt-1">
    <div class="flex-container">
      <div class="flex-item  flex-item-left" #firstElement>
        <h2>Documentazione</h2>
        <div-left-new (newItemEvent)="setItem($event)" >
        </div-left-new>
        <div class="grabber" appResize [leftResize]="firstElement" [rightResize]="rightElement"></div>     
      </div>
      
      <div class="flex-item flex-item-right" #rightElement>
        <div-right-new [item]="this.item"></div-right-new>
      </div>
      
    </div>
</div>